@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */


/* navbar related styles */
.navbar {
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}